#main {
  background: #000 url(../img/background.jpg);
  min-height: 100vh;
  
  font-family: "ITC Serif Gothic", Lato;
  height: 100%;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
	display: none;
}

@import url('//fonts.googleapis.com/css?family=Lato:700');

.item {
  
  padding: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  color: rgba(229,177,58,1);
  font-family: "ITC Serif Gothic", Lato;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  text-align: center;
  
}
.item:hover,
.item:focus {
 padding: 40px; 
 box-shadow: 0 0 0px 2px rgba(229,177,58,1) inset;
}

@media (min-width: 576px) {
  .item {
    height: 15vh;
  }
}

@media (min-width: 768px) {
  .item {
    height: 30vh;
  }
}



.hidden {
  display: none;
}

.no-scroll {
  overflow-y: hidden;
}

.starwarsheader {
  height: 10em;
  position: relative !important;
  top: 0%;
  left: 5%;
  width: 34em;	
  display: none;
}
